/*Importamos la fuente*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');



/*:::::::::::::::::::::::::::::::::::NAVBAR:::::::::::::::::::::::::::::::::::*/
/*Damos estilo a todos los elementos. (relleno 0, margen 0, fuente, etc)*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
}

/*Damos color al fondo*/
body{
    background-color: #FAFAFA;
}

.label{
    display: inline-block;
}

/*Damos posicionamiento al contenedor del nav y sus elementos internnos*/
.contenedor-nav{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: transparent;
    color: hsl(0, 0%, 41%);
    z-index: 1000;
}

/*Damos ancho a ciertos elementos utilizando selectores*/
.lista-enlaces li > label,
.lista-enlaces li > a,
.log-Reg a{
    font-weight: 600;
}

/*Brindamos estilos a hover de algunos elementos*/
.contenedor-nav a:visited{
    color: hsl(0, 0%, 41%);
}

.contenedor-nav select{
    color: hsl(0, 0%, 41%);
}

.contenedor-nav a:hover{
    color: hsl(0, 0%, 8%);
}

.contenedor-nav label{
    width: 90px;
}

.contenedor-nav label:hover{
    color: hsl(0, 0%, 8%);
}

/*Estilos del boton register*/
#btn-register{
    padding: 5px 20px;
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 10px;
}

/*Centramos y damos espacioado al contenido de enlaces*/
.contenedor-enlaces{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 40px;
    flex-direction: row;
}

/*Centramos el contenido*/
.contenedor-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/*Centramos el contenido y damos espaciado*/
.lista-enlaces{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-direction: row;
}

/*Posición relativa*/
.lista-enlaces li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*Escondemos checks de selectores*/
.select-check{
    display: none;
}

/*Damos estilo al contenedor de las opciones de los selectores*/
.caja-select{
    position: absolute;
    top: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.05);
    display: none;
    width: auto;
    height: auto;
    background-color: white;
    padding: 10px 20px;
}

/*Selector para ancho, margen y display del elemento a*/
.caja-select a{
    display: block;
    width: 80px;
    margin: 10px;
}

/*Para que el posicionamiento inicie desde la derecha*/
#caja1{
    right: 0;
}

/*que inicie desde la izquierda */
#caja2{
    left: 0;
}

/*Ocultamos íconos de selectores*/
#i-2-1{
    display: none;
}

#i-2-2{
    display: none;
}

/*Ocultamos el check del nav responsive*/
#check-res{
    display: none;
}

/*Contenedor de caja de selector*/
.opcion{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contenedores para separar los íconos del texto y centrar*/
.con-i{
    width: 30%;
    text-align: center;
}

.con-a{
    width: 70%;
    text-align: left;
}

/*Damnos margen a la derecha del contenedor logo*/
.contenedor-logo{
    margin-right: 70px;
}

/*Posicionamiento del logo*/
.logo{
    position: relative;
    top: 5px;
}

/*Centramos y separamos en contenido del div log-Reg*/
.log-Reg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.check-responsive{
    display: none;
}

/*Creamos un div que ocupe toda la pantalla y le damos transición y un color oscuro, 
lo ocultamos y solo se mostrará cuando el el check del nev se active para mostrar las 
opciones del nav (móvil)*/
.oscurecer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: all 0.3;
    z-index: 700; 
}

/*Ocultamos ícono de X*/
.cerrar{
    display: none;
}


/*:::::::::::::::::::::::::::::::::::BODY:::::::::::::::::::::::::::::::::::*/
/*Contenedor general del cuerpo, ocupa toda la pantalla y centra elementos*/ 
.contenedor{
    position: relative;
    width: 100%;
    height: auto;
    min-height: calc(100vh - 66px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*Contenedor del texto e imagen*/
.contenedor-cuerpo{
    width: 80%;
    height: auto;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*Contenedor de la imagen, centra elementos y se le asigna un ancho*/
.contenedor-imagen{
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Tamaño de imagen*/
.contenedor-imagen img{
    width: 70%;
}

/*Contenedor del texto, centra elementos y se le proporciona dimensiones*/
.contenedor-texto{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 50%;
    height: 70vh;
}

/*Estilos pra el titulo*/
#titulo{
    font-size: 60px ;
    font-weight: bold;
    margin-bottom: 35px;
}

/*Ocultamos el titulo 2*/
#titulo2{
    display: none;
}

/*Estilos para el párrafo del contenedor texto*/
.contenedor-texto p{
    max-width: 380px;
    color: hsl(0, 0%, 41%);
    font-weight: 540;
    margin-bottom: 35px;
}

/*Estilos del boton del contenedor texto*/
.btn-inicio{
    background-color: hsl(0, 0%, 8%);
    color: white;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-size: 14px;
    border: none;
    margin-bottom: 90px;
}

.btn-inicio:hover{
    background-color: hsl(0, 0%, 98%);
    border: 1px solid black;
    color: black;
}

/*Contenedor de las marcas, centra elementos y los justfica de forma proporcional*/
.contenedor-marcas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

/*margen para los íconos de marca*/
.contenedor-marcas i{
    margin: auto 5px;
}
 /*Se oculta imagen movil*/
#img-movil{
    display: none;
}


/*Responsive Móvil*/
@media screen and (max-width: 767px) {
    .contenedor-enlaces{
        display: block;
        position: absolute;
        background-color: white;
        flex-direction: column;
        left: -100%;
        top: 0;
        width: 55%;
        height: 100vh;
        /*transition: all 0.3s;*/
    }

    .lista-enlaces{
        flex-direction: column;
        gap: 30px;
    }

    .log-Reg{
        flex-direction: column;
    }

    .check-responsive{
        display: block;
    }

    .cerrar{
        display: block;
        padding: 10px;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .caja-select{
        position: relative;
        top: 0;
        width: 100%;
        box-shadow: none;
        padding: 0;
    }

    .lista-enlaces li{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 100%;
        margin-left: 50px;
    }

    .log-Reg{
        margin-top: 40px;
    }

    .con-a a{
        margin: 10 !important;
    }

    #btn-register{
        width: 80%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #img-desktop{
        display: none;
    }

    #img-movil{
        display: block;
    }

    .contenedor-cuerpo{
        width: 100%;
        flex-direction: column-reverse;
    }

    .contenedor-imagen, 
    .contenedor-texto{
        width: 100%;
    }

    .contenedor-imagen #img-movil{
        width: 100%;
        max-width: 500px;
    }

    #titulo{
        display: none;
    }

    #titulo2{
        display: block;
        margin-bottom: 35px;
        font-size: 40px;
    }

    .contenedor-texto{
        justify-content: center;
        align-items: center;
    }

    .contenedor-texto p{
        text-align: center;
    }

    .contenedor-nav label{
        width: auto;
    }
}

@media screen and (max-width: 892px) and (min-width: 768px){
    .contenedor-imagen{
        display: none;
    }
}



