@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

body{
    background-color: #FAFAFA;
}

.label{
    display: inline-block;
}

.contenedor-nav{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: transparent;
    color: hsl(0, 0%, 41%);
    z-index: 1000;
}

.contenedor-nav a:visited{
    color: hsl(0, 0%, 41%);
}

.contenedor-nav select{
    color: hsl(0, 0%, 41%);
}

.contenedor-nav a:hover{
    color: hsl(0, 0%, 8%);
}

.contenedor-nav :hover{
    color: hsl(0, 0%, 8%);
}

#btn-register{
    padding: 5px 20px;
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 10px;
}

.contenedor-enlaces{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 40px;
}



.contenedor-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.lista-enlaces{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.lista-enlaces li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lista-enlaces select{
    border: none;
    background-color: transparent;
}

.lista-enlaces select:focus{
    border: none;
    background-color: rebeccapurple;
}

.select-check{
    display: none;
}

.caja-select{
    position: absolute;
    top: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.05);
    display: none;
    width: auto;
    height: auto;
    background-color: white;
    padding: 10px 20px;
}

.caja-select a{
    display: block;
    width: 80px;
}

#caja1{
    right: 0;
}

#caja2{
    left: 0;
}

#i-2-1{
    display: none;
}

#i-2-2{
    display: none;
}

#check-res{
    display: none;
}

.opcion{
    margin: 5px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcion i{
    margin-right: 10px;
}

.con-i{
    width: 30%;
    text-align: center;
}

.con-a{
    width: 70%;
    text-align: left;
}

.contenedor-logo{
    margin-right: 70px;
}

.logo{
    position: relative;
    top: 5px;
}

.log-Reg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.check-responsive{
    display: none;
}

.oscurecer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: all 0.3;
    z-index: 700; 
}

.cerrar{
    display: none;
}





@media screen and (max-width: 767px) {
    .contenedor-enlaces{
        display: block;
        position: absolute;
        background-color: white;
        flex-direction: column;
        left: 50%;
        top: 0;
        width: 55%;
        height: 100vh;
        transition: all 0.3s;
    }

    .lista-enlaces{
        flex-direction: column;
    }

    .log-Reg{
        flex-direction: column;
    }

    .check-responsive{
        display: block;
    }

    .cerrar{
        display: block;
        padding: 10px;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .caja-select{
        position: relative;
        top: 0;
        width: 100%;
        box-shadow: none;
    }

    .lista-enlaces li{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 100%;
        margin-left: 50px;
    }

    .log-Reg{
        margin-top: 40px;
    }
}